.metadata
ARD/arduino_secrets.h
MPLIB_APP_FRAMEWORK_AZURERTOS/Debug/*
MPLIB_APP_FRAMEWORK_FREERTOS/Debug/*
MPLIB_APP_FRAMEWORK_H7_FREERTOS/Debug/*
MPLIB_APP_FRAMEWORK_H7_FREERTOS/*
MPLIB_STM32_MCU/Debug/*
CRYPTO_TEMP_MIGRATE_LIBS/*